In [7]:
import pandas as pd
import importlib 
import warnings
warnings.filterwarnings("ignore")

First of all a sudoku grid has to be defined with rows, columns and boxes

In [108]:
r=[i//9 for i in range(81)]
c=[i%9 for i in range(81)]
ind=[i for i in range(81)]
grid=pd.DataFrame()
grid['ind']=ind
grid['rw']=r
grid['cl']=c
grid['box']=3*(grid.rw//3)+grid.cl//3
grid.to_csv('sudoku_grid.csv',index=False)

this test puzzle is a copy from https://www.codewars.com/kata/5296bc77afba8baa690002d7

In [33]:
puzzle = [5,3,0,0,7,0,0,0,0,
          6,0,0,1,9,5,0,0,0,
          0,9,8,0,0,0,0,6,0,
          8,0,0,0,6,0,0,0,3,
          4,0,0,8,0,3,0,0,1,
          7,0,0,0,2,0,0,0,6,
          0,6,0,0,0,0,2,8,0,
          0,0,0,4,1,9,0,0,5,
          0,0,0,0,8,0,0,7,9]
solution = [5,3,4,6,7,8,9,1,2,
            6,7,2,1,9,5,3,4,8,
            1,9,8,3,4,2,5,6,7,
            8,5,9,7,6,1,4,2,3,
            4,2,6,8,5,3,7,9,1,
            7,1,3,9,2,4,8,5,6,
            9,6,1,5,3,7,2,8,4,
            2,8,7,4,1,9,6,3,5,
            3,4,5,2,8,6,1,7,9]


sudoku = pd.read_csv('sudoku_grid.csv')

sudoku['puz']=puzzle
sudoku

    rw  cl  box  puz
0    0   0    0    5
1    0   1    0    3
2    0   2    0    0
3    0   3    1    0
4    0   4    1    7
..  ..  ..  ...  ...
76   8   4    7    8
77   8   5    7    0
78   8   6    8    0
79   8   7    8    7
80   8   8    8    9

[81 rows x 4 columns]

First test of the hand made solving algorithm

In [6]:
import sudoku_solve_algorithm as sa

importlib.reload(sa)
sudoku1, soln=sa.solve(puzzle,1)
#sudoku1.sol.astype(int).values

soln

NameError: name 'puzzle' is not defined

Used Sudoku Dataset is from  https://www.kaggle.com/bryanpark/sudoku

In [9]:
sudokus=pd.read_csv('sudoku.csv')

Deficulty filter of sudokus based on the needed tricks implimented in `sudoku_solve_algorithm.py`

In [11]:
def solvable(row,level):
    sol, soln=sa.solve(list(row.quizzes),level) 
    #sol.sol=sol.sol.fillna('0')
    row['solutions'],row['solvable']=''.join(sol.sol.values),soln
    return row

In [26]:
sudokus = sudokus.apply(lambda row: solvable(row,3),axis=1)
sudokus

,quizzes,solutions,solvable
144,0018000000860541000070000569000670010000000001...,5918763423862541794271938569423675818754219631...,True
474,6204018000080020077006085000008300060000100009...,6254718394983526177136985425728341963469157289...,True
422,0040509013000005060593000000001090700010006000...,6842579313274915861593867422351698748417236597...,True
258,0000000003260090050053200060600001030790308201...,9415672383268194757853249168642751935791368241...,True
492,1300000009720050100500049070200801507000000040...,1342796859728654136583149274239871567865213945...,True
...,...,...,...
26,0061003000000000140716400090047005608000000070...,2461953785892376143716482591947825638539614277...,True
488,0007000048300040090040100301000026500403680900...,5197238648326547196748195321984726537453682913...,True
452,0062005895000002000300500408400900060008010001...,4762135895819472639326581478475923166238719541...,True
237,7009061320807000050600104089100000000005030000...,7459861321827346953692154789186725432765439815...,True
324,0192030800000102050080040070825000000060005000...,7192536846347182955289643174825769311763495289...,True

In [91]:
import sudoku_solve_algorithm as sa
pd.set_option('display.max_rows', 10)
importlib.reload(sa)
sud=sudokus.head(1)
#sud2=sud.apply(lambda x: solvable(x,1),axis=1)
sol, soln=sa.solve(puzi,3) 
display(sol)
print(soln)
# sud[sud.solvable == False]
#print([1,2].len)

    ind  rw  cl  box puz sol pos
0     0   0   0    0   8   8  []
1     1   0   1    0   0   2  []
2     2   0   2    0   0   5  []
3     3   0   3    1   6   6  []
4     4   0   4    1   0   3  []
..  ...  ..  ..  ...  ..  ..  ..
76   76   8   4    7   0   9  []
77   77   8   5    7   3   3  []
78   78   8   6    8   0   1  []
79   79   8   7    8   0   5  []
80   80   8   8    8   2   2  []

[81 rows x 7 columns]

AttributeError: 'bool' object has no attribute 'puz'

In [98]:
dic={'quizzes':''.join(sol.puz.values),'solutions':''.join(sol.sol.values),'solvable': soln}
sudokus=pd.DataFrame([dic])
sudokus

,quizzes,solutions,solvable
0,8006070000910006004000095000507020000703080100...,8256374917918546234631295873587129649763482151...,True

In [187]:
sud[~sud.solvable].head()

,quizzes,solutions,solvable
3610,0687009000040000710308090503000801000400050070...,0687009000040000710318090503050801000460050070...,False
8761,0007000848950000001049605203000401070500000682...,6237519848950206711749685233698421574500002682...,False
9179,0900207100030005807005300000750000000000030769...,0900207100030005807005300000750000000000030769...,False

Most of these sudokus are easy to solve and does not need tricks:
- pick from the 10000 sudokus the easy solvable puzzle and save them 
- search for other sudokus

In [189]:
sud[sud.solvable][['quizzes','solutions']].to_csv('level_1.csv',index=False)
sud[~sud.solvable][['quizzes','solutions']].to_csv('harder.csv',index=False)

In [68]:
pd.read_csv('level_1.csv')

,quizzes,solutions
0,0019507809046070103000000000001020057030800602...,6219547839846375123758216494961728357534892612...
1,0405000000001300051700980000208764000602001783...,8435279612961347851756983245218764934692531783...
2,0902100600610040098000300020200807904007008055...,3952174682618543798746391526235817944197638255...
3,4090103005020480010700008600005000260370005000...,4896173525623489711739528648145937266374215899...
4,2100050000000021544800700060002030476009103200...,2136457897693821544851792368512639476479183253...
...,...,...
995,1008600073701029000060005080670040005206001400...,1548693273781529642967435188673142955296781434...
996,0300005208603010092940708001006300700800024050...,7319845268653217492945768131426359789837124655...
997,0926010808500200600000300457803040106000720040...,4926517838534271691769382457893645126351728942...
998,8210006040730008050041097000152000090004300080...,8213576949736248156541897323152684797924351684...
999,0000004020065200310790000800007005080650080700...,3516874924865297312794136859347625181659482738...

testarea of webscraping harder sudoku puzzles
- everytime the url will be requested a new puzzle will be loaded

In [3]:
from bs4 import BeautifulSoup
import requests

url = 'https://1sudoku.com/sudoku/hard'
response = requests.get(url)
response.status_code

200

- read howl sudoku grid
- if soup has the shape `#c_{i}.c.fixe` the websived saved a fixed digit in [0]['v']

In [5]:
soup = BeautifulSoup(response.content, "html.parser")
puzi=['0']*81
for i in range(81):
    code=soup.select(f'#c_{i}.c.fixe')
    if len(code) != 0:
        puzi[i]=code[0]['v']

puzi2=''.join(puzi)
puzi2

'100800007000260018008005000000000650405020703097000000000700300760049000200003005'

In [42]:
importlib.reload(sa)
sudoku, soln=sa.solve(puzi,1)
sudokus2=sudokus
# 1. test if puzzle is not to easy 
if ~soln:
    sudoku, soln=sa.solve(puzi,2)
    # 2. test if puzzle is not to hard
    if soln:
        sudokus2.loc[len(sudokus2)]=[''.join(puzi),''.join(sudoku.sol.values),soln]
        
sudokus2

,quizzes,solutions,solvable
0,0687009000040000710308090503000801000400050070...,5687129439246538717318492563952871642461953878...,True
1,0007000848950000001049605203000401070500000682...,6237519848953246711749685233698421574571932682...,True
2,0900207100030005807005300000750000000000030769...,5948267132631975847185342693759621488214539769...,True
3,5000003008000160404090300670001724000000000000...,5612473988379165424295381679561724832483957161...,True

In [12]:
import sudoku_solve_algorithm as sa

importlib.reload(sa)

sudokus=pd.read_csv('harder.csv')
sudokus=sudokus.apply(lambda x: solvable(x,2),axis=1)
#sudokus[['quizzes','solutions']].to_csv('level_2.csv')
sudokus

,quizzes,solutions,solvable
0,0687009000040000710308090503000801000400050070...,5687129439246538717318492563952871642461953878...,True
1,0007000848950000001049605203000401070500000682...,6237519848953246711749685233698421574571932682...,True
2,0900207100030005807005300000750000000000030769...,5948267132631975847185342693759621488214539769...,True

start to webscrape for a set of sudoku puzzle

In [43]:
from bs4 import BeautifulSoup
import requests

url = 'https://1sudoku.com/sudoku/medium'
response = requests.get(url)
response.status_code

200

- webscrape for sudokus 
- if puzzle has the right difficulty rating include them in the `sudokus` dataframe

In [101]:
import random 
import time
importlib.reload(sa)

while  response.status_code == 200 and len(sudokus)<500:
    soup = BeautifulSoup(response.content, "html.parser")
    soup.select('#c_.c')
    puzi=['0']*81
    for i in range(81):
        code=soup.select(f'#c_{i}.c.fixe')
        if len(code) != 0:
            puzi[i]=code[0]['v']
    
    sudoku, soln=sa.solve(puzi,2)
    if ~soln: #exclude easy puzzles
        sudoku, soln=sa.solve(puzi,3)
        if soln: #include next level puzzle
            sudokus.loc[len(sudokus)]=[''.join(puzi),''.join(sudoku.sol.values),soln]
    
    r=random.random()*4.+1
    time.sleep(r)
    response = requests.get(url)
    response.status_code

sudokus

,quizzes,solutions,solvable
0,8006070000910006004000095000507020000703080100...,8256374917918546234631295873587129649763482151...,True
1,8006070000910006004000095000507020000703080100...,8256374917918546234631295873587129649763482151...,True
2,0400090089003072000700600001200003000050208000...,3462591789813472655728619341276853496359248174...,True
3,0000040000060021050070600090090000070751098308...,5829147639463721853178652494296385176751298348...,True
4,5093001008001600050100000400070560000000800000...,5693481728421679357135928461874563292947835613...,True
...,...,...,...
495,0000090706005700000720009000816005040000000009...,5481693726935721481723489567816235942564917839...,True
496,0509000009000000560000572007080020410000000002...,3569217849724831561846572937983625415431986722...,True
497,0000041704003500000050080092070000040800400903...,8326941754793516281657284392971638546815427933...,True
498,0400206008001000003020090400000500080189037605...,9417256838561349273726895417342561982189437655...,True
499,0509002000846000500000030079000000230070008001...,7569142383846729512918536479485671235372918641...,True

save webscraped sudokus

In [ ]:
sudokus[['quizzes','solutions']].to_csv('level_3.csv',index=False)